/* background-related colours */
.bg-black{
  background-color: black;
}

.bg-white-translucent{
  background-color: #FFFFFFDD;
}

.bg-dark-translucent{
  background-color: #343a40DD;
}


/* text-related colours */
.text-yellow{
  color: yellow
}
