/* background-related colours */
.bg-black{
  background-color: black;
}

.bg-white-translucent{
  background-color: #FFFFFFDD;
}

.bg-dark-translucent{
  background-color: #343a40DD;
}

.bg-black-translucent{
  background-color: #111111DD;
}

/* text-related colours */
.text-yellow{
  color: yellow
}

a {
  color: white;
}

a:hover {
  color: lightgray;
}

a:active {
  border: none;
  color: darkgray;
}

a:visited {
  color: darkgray;
}
