@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lustria&display=swap');

.leading {
  font-family: 'Lustria', cursive, serif;
}

.sub-leading {
  font-family: 'Open Sans', sans-serif;
}

.alt-leading {
  font-family: 'Varela Round', sans-serif;
}

.mono {
  font-family: 'Source Code Pro', monospace;
}

.kerning {
  letter-spacing: 1px;
}

.line-spacing {
  line-height: 1.85rem;
}
