.collapse-before::before{
  content: "> ";
  display: inline-block;
  padding: 5px;
}

.collapse-before[aria-expanded=true]::before{
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: transform 0.2s;
 }


.collapse-before[aria-expanded=false]::before{
  transition: transform 0.2s;
}

.border-radius-0{
  border-radius: 0px;
}

.border-left-md {
  border-left: solid 1px white;
}

@media screen and (max-width: 720px) {
  .border-left-md {
    border-left: 0px;
  }
}

.border-top-gray-15{
  border-top: solid #555 10px;
}

.header-bg{
  background-image: url("/images/header-bg.jpg");
  background-size: 100% auto;
  background-position: 20% 0;
}

@media screen and (max-width: 720px) {
  .header-bg{
    background-size: auto;
  }
}

.hover-bold:hover{
  font-weight: bold;
  transition: transform 0.5s;
}

.hover-black:hover{
  background-color: #111111;
  transition: transform 0.5s;
}

.hover-border-right:hover {
  border-right: solid 15px white;
  transition: border-right 0.2s ease-out;
}

.hover-border-left:hover {
  border-left: solid 10px white;
  transition: border-left 0.2s ease-out;
}

.nav-tabs-left{
  border: none;
}
.nav-tabs-left > .nav-link.active {
  border-top: solid 1px #dee2e6;
  border-bottom: solid 1px #dee2e6;
  border-left: solid 1px #dee2e6;
  border-right: none;
  -webkit-box-shadow: -2px 0px 10px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: -2px 0px 10px -1px rgba(0,0,0,0.3);
  box-shadow: -2px 0px 10px -1px rgba(0,0,0,0.3);
  background-color: white !important;
  color: #333 !important;
}

.nav-tabs-left > .nav-link{
  border-radius: 0.25rem 0 0 0.25rem;
  border: none;
  border-right: solid 1px #dee2e6;
  letter-spacing: 1px;
}

.hackerrank-image {
  min-width: 80px;
  max-width: 80px;
  height: 80px;
}

.hackerrank-image > img {
  width: 50px;
  height: 50px;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.tooltip-help{
  min-height: 20px;
  max-height: 20px;
  min-width: 20px;
  max-width: 20px;
}
