@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lustria&display=swap');

html {
  scroll-behavior: smooth;
  font-style: "Lato", sans-serif;
}

.breathing {
  margin-top: 50px;
  height: 1px;
}

.hover-opacity-50:hover {
  opacity: 50%;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}

.hover-bg-dark:hover {
  background-color: #EEE;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}

.bg-img {
  background-image: url('../bg.jpg');
  background-size: cover;
}

#navbar-top-home, #navbar-top-discover, #navbar-top-reach-out, #navbar-top-resume{
    transition: all 0.1s ease;
}

.h6-lg {
  font-size:0.75rem;
}

.width-responsive {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .h6-lg {
    font-size: unset;
  }

  .width-responsive {
    width: 50%;
  }
}
