.highlight-button {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.highlight-button > div.text {
  cursor: pointer;
  display: block;
  background: none;
  border: none;
  border-radius: 0;
  flex: 1;
  text-transform: uppercase;
}

.highlight-button > div.bg {
  flex: 1;
  width: 100%;
  background-color: yellow;
  flex-basis: 0px;
  transition: all ease-out 500ms;
}


.highlight-button:hover > div.bg {
  flex-basis: 8px;
}

.highlight-button.active > div.bg, .highlight-button.active:hover > div.bg {
  flex-basis: 100%;
}
