.highlight-button, .highlight-button-active {
  color: inherit;
  position: relative;
  margin: auto;
  transition: all .2s ease;
  cursor: pointer;
  border: none;
  border-bottom: 1px dashed grey;
  border-radius: 0;
  background-color: unset;
}

.highlight-button span, .highlight-button-active span {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.highlight-button:before, .highlight-button-active:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -0.2rem;
  display: block;
  border-radius: 0;
  background: yellow;
  width: calc(100% + 0.4rem);
  height: 0px;
  transition: all .3s ease;
}

.highlight-button:hover:before {
  height: 8px;
}

.highlight-button-active:before {
  height: 1.6rem;
}

.feather-sun {
  stroke: black;
}

.feather-moon {
  stroke: white;
}