@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

.build-name {
  position: absolute;
  bottom: 10px;
  right: 40px;
  color: #4f4f4f;
  font-size: 0.6rem;
}

.desktop {
  padding-top: 2.5rem;
  min-height: 300vh;
}

.tablet {
  padding-top: 2.5rem;
  min-height: 100vh;
}

.mobile {
  padding-top: 2.5rem;
  min-height: 300vh;
}

.light {
  background-color: var(--bg-light);
}

.dark {
  background-color: var(--bg-dark);
}

.light,
.light *,
.dark,
.dark * {
  transition: background-color 500ms ease, color 500ms ease;
  transition: background-color 500ms ease, color 500ms ease;
}

.fixed-top {
  position: fixed;
  width: 100vw;
  top: 0;
  padding-top: 1rem;
}

.desktop .fixed-top {
  padding-top: 1.5rem;
}

.light .fixed-top {
  background-color: var(--bg-light);
}

.dark .fixed-top {
  background-color: var(--bg-dark);
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.desktop .header,
.tablet .header {
  gap: 4rem;
}

.mobile .header {
  gap: 1rem;
}

.desktop .header,
.tablet .header,
.desktop .section,
.tablet .section {
  max-width: 80vw;
}

.mobile .header,
.mobile .section {
  max-width: 90vw;
}

.header-info {
  display: flex;
  gap: 2.5rem;
}

.desktop .header-info .avatar img,
.tablet .header-info .avatar img {
  width: 150px;
  height: 150px;
}

.mobile .header-info .avatar img {
  width: 100px;
  height: 100px;
}

.header-info .name-contact {
  margin-top: 1rem;
}

.header-info .name-contact .name .raflie,
.header-info .name-contact .name .zainuddin {
  display: inline-block;
  padding: 0.3rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.header-info .name-contact .name .raflie {
  background-color: var(--primary-light);
  color: white;
}

.dark .header-info .name-contact .name .zainuddin {
  color: white;
}

.header-info .name-contact .contact {
  margin-top: 0.5rem;
  color: var(--gray-1);
  font-size: 0.8rem;
  letter-spacing: 5%;
}

.header-theme {
  flex: 0;
  display: block;
  width: 30px;
  height: 15px;
  background-color: var(--gray-1);
  border: 1px solid #333;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
}

.header-theme .light,
.header-theme .dark {
  display: block;
  width: 13px;
  height: 13px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  margin-right: 15px;
  transition: margin-left 200ms ease-in-out;
}

.header-theme .dark {
  margin-left: 15px;
  transition: margin-left 200ms ease-in-out;
}

.desktop .header-navbar,
.tablet .header-navbar {
  margin-left: auto;
}

.header-navbar ul {
  padding: 0;
}

.header-navbar ul li {
  flex: 0;
  display: inline-block;
  list-style-type: none;
  padding-top: 0.7rem;
  cursor: pointer;
  margin: 0 2rem;
  position: relative;
}

.header-navbar ul li a,
.header-navbar ul li a:visited {
  color: var(--gray-1);
  font-weight: bold;
  text-decoration: none;
}

.header-navbar ul li a:hover {
  text-decoration: underline dotted;
}

.header-navbar ul li.active a,
.header-navbar ul li.active a:visited {
  color: var(--primary-light);
}

.header-navbar ul li.active::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: -0.2rem;
  border: 2px solid gray;
  border-color: var(--primary-light);
  border-radius: 50px;
  width: 100%;
}

.desktop .spacing,
.tablet .spacing {
  margin-top: 10rem;
}

.mobile .spacing {
  margin-top: 12rem;
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin: -10rem auto auto;
  padding-top: 10rem;
  gap: 3rem;
}

.section .section-name {
  font-weight: bold;
  text-align: center;
}

.light .section .section-name {
  color: black;
}

.dark .section .section-name {
  color: white;
}

.desktop .section .section-name,
.tablet .section .section-name {
  width: 100px;
}

.desktop .section .content,
.tablet .section .content {
  flex: 1;
  margin-bottom: 3rem;
}

.mobile .section .section-name,
.mobile .section .content {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 80vw;
}

.about {
  padding-bottom: 15rem;
}

.about .hello {
  font-weight: lighter;
  margin-bottom: 3rem;
}

.light .about .hello {
  color: black;
}

.dark .about .hello {
  color: white;
}

.desktop .about .hello,
.tablet .about .hello {
  font-size: 40px;
  line-height: 4rem;
}

.mobile .about .hello {
  font-size: 38px;
  line-height: 3rem;
}

.about .description {
  color: var(--gray-1);
  font-size: 22px;
  margin-bottom: 3rem;
  line-height: 2rem;
}

.desktop .about .description {
  max-width: 55vw;
}

.cta {
  display: flex;
}

.desktop .cta,
.tablet .cta {
  gap: 2rem;
}

.mobile .cta {
  justify-content: space-between;
}

.skillset {
  padding-bottom: 10rem;
}

.cards {
  display: flex;
  gap: 4rem;
}

.desktop .cards,
.tablet .cards {
  flex-direction: row;
}

.mobile .cards {
  flex-direction: column;
}

.cards .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.cards .card .logos {
  display: flex;
  gap: 1rem;
}

.cards .card .logos img {
  display: block;
  width: auto;
  height: 30px;
}

.cards .card .title {
  font-weight: bold;
}

.dark .cards .title {
  color: white;
}

.cards .card .description {
  color: var(--gray-2);
  text-align: justify;
  line-height: 1.5rem;
}

.dark .cards .description {
  color: var(--gray-1);
}
