body,
button {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #4f4f4f;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #757575;
}

button {
  cursor: pointer;
}

.button-light {
  background-color: white;
  border: none;
  transition: all 1s ease;
}

.button-light:hover {
  background-color: lightyellow;
  transition: all 0.2s ease;
}

.button-dark {
  background-color: blue;
  border: none;
  color: white;
  transition: all 1s ease;
}

.button-dark:hover {
  background-color: navy;
  transition: all 0.2s ease;
}
