@font-face {
  font-family: "Fira Sans Extra Condensed";
  font-weight: bold;
  font-style: normal;
  src: url("assets/fonts/FiraSansExtraCondensed/FiraSansExtraCondensed-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Fira Sans Extra Condensed";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/FiraSansExtraCondensed/FiraSansExtraCondensed-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hind Madurai";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/HindMadurai/HindMadurai-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hind Madurai";
  font-weight: bold;
  font-style: normal;
  src: url("assets/fonts/HindMadurai/HindMadurai-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #4f4f4f;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #757575;
}
