* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-light: #21a73e;
  --bg-light: #dbdbdb;
  --gray-1: #7d7d7d;

  --bg-dark: #1e1e1e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #4f4f4f;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #757575;
}

a.button {
  display: inline-flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  letter-spacing: 1px;
  vertical-align: middle;
  line-height: 0;
  align-items: center;
}

a.button div {
  display: block;
}

a.button .icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.mobile a.button {
  font-size: 0.8rem;
}

a.button.primary {
  color: white;
  background-color: var(--primary-light);
}

a.button.secondary {
  color: var(--gray-1);
  background-color: white;
}
